.login-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  .login-promo {
    padding: 80px 60px;
    width: 100%;
    max-width: 677px;
    background: rgba(255, 255, 255, 1);

    .login-page-img {
      display: flex;
      justify-content: center;
    }
    h1 {
      margin-top: 20px;
      text-align: center;
      font-weight: var(--fw-semi-bold);
      color: var(--color-dark-black);
      font-size: var(--font-size-3xl);
    }
    p {
      margin-top: 16px;
      text-align: center;
      font-size: var(--font-size-sm);
      color: var(--color-gray);
    }
    .sign-up {
      width: 100%;
      max-width: 446px;
      margin: 0 auto;
      form {
        margin-top: 22px;
        display: flex;
        flex-direction: column;
        label {
          font-size: 14px;
        }
        .login {
          outline: none;
          border: 1px solid rgba(65, 72, 91, 1);
          margin-bottom: 22px;
          padding: 15px 15px;
          border-radius: 8px;
          font-size: 16px;
          margin-top: 12px;
        }
        .show-inp {
          overflow: hidden;
          border: 1px solid rgba(65, 72, 91, 1);
          align-items: center;
          display: flex;
          border-radius: 8px;
          .parol {
            border: none;
            width: 100%;
            outline: none;
            padding: 15px 15px;
            font-size: 16px;
          }
          .show-click {
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 48px;
            width: 60px;
          }
        }
      }
    }
  }
  smal {
    font-size: 18px;
    margin-top: 12px;
    text-align: center;
    color: red;
  }
}
