button {
  column-gap: 9px;
  display: flex;
  transition: 0.3s ease all;
}

.secondary {
  gap: 15px;
  background-color: var(--color-blue);
  border: none;
  color: var(--color-white);
  padding: 12px 32px;
  border-radius: 8px;
  font-size: var(--font-size-lg);
  font-weight: var(--fw-bold);
  border: 1px solid transparent;
  cursor: pointer;

  // svg {
  //   fill: white;
  //   transition: 0.3s;
  // }

  // &:hover {
  //   color: var(--color-blue);
  //   border: 1px solid var(--color-blue);
  //   background-color: transparent;
  //   svg {
  //     fill: var(--color-blue);
  //     // transform: rotate(180deg);
  //   }
  // }
}

.primary {
  margin-top: 40px;
  padding: 13px 201px;
  border-radius: 8px;
  font-size: var(--font-size-lg);
  font-weight: var(--fw-bold);
  cursor: pointer;
  background-color: var(--color-blue);
  border: none;
  color: var(--color-white);
}

.error {
  gap: 15px;
  background-color: transparent;
  border: 1px solid #e85347;
  color: var(--color-dark-black);
  padding: 12px 32px;
  border-radius: 8px;
  font-size: var(--font-size-lg);
  font-weight: var(--fw-bold);
  cursor: pointer;
}

.delete {
  border: none;
  padding: 12px 32px;
  background-color: #e85347;
  color: var(--color-white);
  border-radius: 8px;
  font-size: var(--font-size-lg);
  font-weight: var(--fw-bold);
  cursor: pointer;
}

.gray {
  border: none;
  padding: 12px 32px;
  background-color: #f5f5f7;
  color: var(--color-dark-black);
  border-radius: 8px;
  font-size: var(--font-size-lg);
  font-weight: var(--fw-bold);
  cursor: pointer;
}

.border {
  border: 1px solid rgba(219, 223, 234, 1);
  padding: 12px 32px;
  background-color: transparent;
  color: var(--color-dark-black);
  border-radius: 8px;
  font-size: var(--font-size-lg);
  font-weight: var(--fw-bold);
  cursor: pointer;
}
