.registration {
  width: 100%;
  // height: 100vh;
  display: flex;
  // justify-content: space-around;
  flex-direction: column;
  color: rgb(0, 0, 0);
  font-size: 24px;
  background-color: rgb(255, 255, 255);
  .regions,
  .districts,
  .villages {
    width: 100%;
    max-width: 1211px;
  }
  .search {
    width: 100%;
    max-width: 1211px;
    border-radius: 10px;
    border: 1px solid #cccccc;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    input {
      color: rgb(0, 0, 0);
      outline: none;
      background-color: transparent;
      border: 0;
      flex-grow: 1;
      font-size: 16px;
      font-weight: 200;
    }
  }
  ul {
    width: 100%;
    max-width: 480px;
    transition: 1s;
    list-style: none;
    padding: 0;
    user-select: none;
    position: absolute;
    margin: 0;
    background: rgb(69, 64, 64);
    padding: 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    background-color: rgb(159, 159, 159);
    gap: 30px;
    // border: 1px solid rgb(121, 114, 114);

    li {
      transition: 0.3s;
      cursor: pointer;
      padding: 5px;
      border: 1px solid rgb(121, 114, 114);
      color: rgb(0, 0, 0);
      border-radius: 10px;
      color: black;
      border: 1px solid #97a2c1;
      &:hover {
        border-color: transparent;
        background-color: rgba(173, 173, 173, 0.228);
      }
    }
  }
}
