.registration {
  width: 100%;
  height: 100vh;
  display: flex;
  // justify-content: space-around;
  flex-direction: column;
  color: rgb(0, 0, 0);
  font-size: 16px;
  font-weight: 600;
  background-color: rgb(255, 255, 255);
  .regions,
  .districts,
  .villages {
    width: 100%;
    max-width: 1211px;
  }
  .search {
    margin-bottom: 15px;
    width: 100%;
    max-width: 1211px;
    border-radius: 10px;
    border: 1px solid #cccccc;
    padding: 13px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    input {
      color: rgb(0, 0, 0);
      outline: none;
      background-color: transparent;
      border: 0;
      flex-grow: 1;
      font-weight: 600;
      font-size: 16px;
    }
  }
  label span {
    color: #3570a4;
  }
  ul {
    width: 100%;
    max-width: 1111px;
    transition: 1s;
    list-style: none;
    padding: 0;
    user-select: none;
    position: absolute;
    margin: 0;
    background: rgb(255, 255, 255);
    padding: 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    li {
      cursor: pointer;
      padding: 5px;
      border: 1px solid #cccccc;
      border-radius: 10px;
      padding: 10px;
    }
    li:hover {
      background: #2c9cf2;
      color: white;
    }
  }
}
