.registration {
  width: 100%;
  height: 100vh;
  display: flex;
  // justify-content: space-around;
  flex-direction: column;
  color: white;
  label {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 13px;
    color: var(--color-dark-black);
  }
  .regions,
  .districts,
  .villages {
    width: 100%;
    max-width: 500px;
    padding: 10px;
  }
  .search {
    width: 100%;
    max-width: 500px;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #dbdfea;
    border-radius: 4px;
    padding: 14px;
    margin-top: 15px;

    input {
      color: white;
      outline: none;
      background-color: transparent;
      border: 0;
      flex-grow: 1;
      font-family: var(--font-family);
      font-weight: 400;
      font-size: 16px;
      color: var(--color-dark-black);
    }
  }
  ul {
    width: 100%;
    max-width: 480px;
    transition: 1s;
    list-style: none;
    padding: 0;
    user-select: none;
    position: absolute;
    margin: 0;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    background-color: rgb(159, 159, 159);
    gap: 30px;
    border: 1px solid rgb(121, 114, 114);

    li {
      transition: 0.3s;
      cursor: pointer;
      padding: 10px;
      border-radius: 10px;
      color: black;
      border: 1px solid #3f3f3f;
      &:hover {
        border-color: transparent;
        background-color: rgba(57, 57, 57, 0.228);
      }
    }
  }
}
