@import url("https://fonts.googleapis.com/css2?family=Urbanist:wght@400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
html,
body {
  background: rgba(247, 249, 252, 1);
  height: 100%;
  font-family: "Urbanist", sans-serif;
  ::-webkit-scrollbar {
    display: none;
  }
}

// main {
//   padding-bottom: 100px;
// }

.container {
  width: 100%;
  max-width: 1380px;
  padding: 0 15px;
  margin: 0 auto;
}

// @mixin flex($ai: center, $jc: space-between) {
//   display: flex;
//   align-items: $ai;
//   justify-content: $jc;
// }

:root {
  --color-dark-black: #252c3f;
  --color-blue: #2c9cf2;
  --color-white: #fff;
  --color-gray: #6b7380;
  --color-dark-gray: #41485b;

  /* Font sizes. */
  --font-size-sm: 0.875rem;
  // 14
  --font-size-md: 1rem;
  // 16
  --font-size-lg: 1.125rem;
  // 18
  --font-size-2xl: 1.5rem;
  // 24
  --font-size-3xl: 2.25rem;
  // 36
  --font-size-4xl: 3rem;
  // 48

  /* font weight */
  --fw-bold: 700;
  --fw-semi-bold: 600;
  --fw-medium: 500;
  --fw-normal: 400;
}
