*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: rgb(112, 108, 108);
  background-image: url(../assets/images/ss-people-data.jpg);

  &::-webkit-scrollbar{
    display: none;
  }
}
