label span {
  color: #3570a4;
}

.container {
  display: flex;
  gap: 30px;
  color: white;
  user-select: none;

  .kadastir {
    display: flex;
    align-items: center;
    gap: 5px;
  }

  label {
    display: flex;
    align-items: center;
    gap: 5px;
    cursor: pointer;
  }

  .name {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 21px;
    color: #000;
  }

  label span {

    width: 15px;
    height: 15px;
    border-radius: 50%;
    cursor: pointer;
    border: 2px solid #3570a4;
    position: relative;
    display: inline-block;
    transition: all 0.3s ease;

    &::after {
      content: "";
      width: 8.5px;
      height: 8.5px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: scale(0);
      border-radius: 50%;
      background-color: #759dc0;
      transition: all 0.3s ease-in-out;
      display: block;
    }
    
  }

  input[type="radio"] {
    display: none;
  }

  input[type="radio"]:checked ~ span {
    &::after {
      transform: translate(-50%, -50%) scale(1);
    }
  }
}
