.search {
  width: 100%;
  border: 1px solid rgba(219, 223, 234, 1);
  border-radius: 8px;
  padding: 13px 0;
  padding-right: 10px;
  display: flex;
  align-items: center;
  margin-top: 5px;
  input {
    color: rgb(169, 71, 71);
    outline: none;
    background-color: transparent;
    border: 0;
    flex-grow: 1;
    font-weight: 600;
    font-size: 16px;
    line-height: 140%;
    color: var(--color-dark-black);
    margin: 0 10px;
  }

  svg {
    cursor: pointer;
    transition: 0.3s;
    &:hover {
      transform: rotate(30deg) scale(1.1);
    }
  }
}
label {
  font-weight: 500;
  font-size: 14px;
  line-height: 140%;
  color: var(--color-dark-gray);
}
label span {
  color: #3570a4;
}
